header{
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  font-family: 'Ruda', sans-serif;

}body{
  font-family: 'Ruda', sans-serif;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  background-color: rgb(199, 199, 199);
}

a.register{
  margin: auto auto;
}

a:active {
  background-color: orangered;
}
.card{
  text-align: center;
}

.bodycompetences{
  background-color: rgb(204, 211, 219); 
} 


.main{
  /* background-image: linear-gradient(to top, rgba(228, 155, 19, 0), rgba(200, 140, 9, 0.877));; */
  /* background-image: radial-gradient(circle at top left, white, rgb(129, 86, 6)); */
  background-color: rgb(51, 116, 200);
}
.bodyIndex{
  background-color: rgb(51, 116, 200);

}
.adresse{
  margin: 30px;
  padding: 10px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Ruda', sans-serif;
}
h1{
  color: rgb(51, 12, 73);
  text-align: center;
  font-family: 'Ruda', sans-serif;
}

.h1Main{
  color : white;
}
a.cvPdf{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.link-google{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mainContact{
  text-align: center; 
}

h2{
  color: black;
  padding : 15px;
  text-align: center;
  font-family: 'Ruda', sans-serif;
}
h3{
  color: rgb(51, 12, 73);
  font-family: 'Ruda', sans-serif;
  display: inline;
}
h4{
  color: rgb(51, 12, 73);
  font-family: 'Ruda', sans-serif;
  text-align: center;
}
/* legend {
    background-color: #462a94;
    color: rgb(240, 11, 11);
    padding: 60px;
    margin : 10px;
} */
form{
  /* background-color: #cac9c5;
  border: 20px;
  margin: 20px;
  padding: 40px;
  border-radius: 20px; */
  text-align: center;
  font-family: 'Ruda', sans-serif;
}

.output {
  font-family: 'Ruda', sans-serif;
    
}

input {
    margin: .10rem;
    border-radius:100px;
}
  
button{
  background-image :radial-gradient(rgb(173, 159, 154));
  color: rgb(172, 159, 154);
  padding: 15px 32px;
  text-align: center;
  border-radius: 20px;
  font-family: 'Ruda', sans-serif;
  /* text-decoration: none; */
  /* display: inline-block; */
  /* font-size: 16px; */
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  background-color: rgba(189, 156, 13, 0.938);  
} */

img {
	width: 100px;
  height: 80px;
  margin: 20px;
}

 /* .competencesTechno{
  color:  rgb(230, 193, 26);
 } */



 .techno{
  color:  black;
  background-color:  rgba(248, 147, 52, 0.863);
  margin: 40px;
  padding: 10px;
  text-align: center;
}

.text{
  margin: 20px;
  font-family: 'Ruda', sans-serif;
}

.paramCompetences{
  padding : 15px;
  /* text-align: 100px; */
  font-family: 'Ruda', sans-serif;
}

IMG.photoIdentity{
  width: 160px;
  height: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius:80px;
  -moz-border-radius:80px;
  border-radius:100px;     
}

.centrerloadCv{
  text-align: center;
}

button.imagelink{
  background-image: url("tools/images/php.png");
  /* background-image :radial-gradient(circle at top left, white, rgb(57, 235, 12));
   */
  padding: 15px 32px;
  text-align: center;
  border-radius: 20px;
}

.logoEni{
  width: 100px;
  height: 80px;
  display: block;
  margin-left: justify;
  margin-right: justify;
}
.lien{
  text-align: center;
} 

progress[value] {
  width: 250px;
  height: 20px;
}




p.contact{
  color: black;
  margin: 20px;
  font-family: 'Ruda', sans-serif;
}

.formContact{
  background-color:  rgb(168, 164, 163);
}
.colorFormation{
  background-color: rgb(51, 116, 200);
}
img.favicon{
  height: 100%;
}


